* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  color: #271a45;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #d9cdf7;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .img {
  width: 44.9rem;
  height: auto;
}

.content .img img {
  width: 100%;
}

.content h2 {
  margin: 1.2rem 0;
  font-family: 'Crimson Pro';
  font-weight: 600;
  font-size: 3.2rem;
}

.content span {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1rem;
}

.content .price {
  font-weight: 400;
  font-size: 16px;
}

.content input {
  margin-top: 2rem;
  border: 0.5px solid #271a45;
  border-radius: 999px;
  padding: 8px 16px;
  background: transparent;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;

  cursor: pointer;
  transition: 2.5ms ease-in-out;
}

.content input:hover {
  background-color: #271a45;
  color: white;
}
